<% errors.forEach((err) => { %>
<div class="alert alert-danger text-center"><%= err %></div>
<% }) %><% success.forEach((err) => { %>
<div class="alert alert-success text-center"><%= err %></div>
<% }) %>
